body {
  font-family: sans-serif;
  color: #5E5D52;
}

p {
  font-style: italic;
  margin-left: 5%;
  font-size: 10pt;
}

h1 {
  text-align: center;
  font-size: 18pt;
}

table {
  border-spacing: 0.5rem;
  border-collapse: collapse;
  text-align: center;
  margin: 0 auto;
}

thead {
  background-color: #1D96B2;
  color: white;
}

tr {
  border: 1px solid #1D96B2;
}

td, th {
  padding: 9px;
}

tbody tr:nth-child(even){
  background-color: #EFEFEE;
}

tr td:first-child {
  text-align: left;
  font-weight: bold;
}

th:first-child {
  text-align: left;
}
